/* reset css  */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* nav start  */
nav {
    position: fixed;
    height: 100vh;
    width: 27vh;
display: flex;
align-items: center;
justify-content: center;
    background-color:rgb( 189, 93, 56);
}
.container {
    max-width: 700px;
}
.content {
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.content-img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 8px solid #d17e5d;
}
.content-link {
   color:  rgba(255, 255, 255, 0.55);
    letter-spacing: 0.05rem;
}
/* nav end  */
/* maib start  */
main {
    height: 100%;
    margin-left:27vh;

}
.header {
    /* margin-top: 60px; */
    padding: 260px 0;
    margin-left:70px;
}
.header-h1 {
    font-family: "Saira Extra Condensed", sans-serif;
color: #495057;
    margin-bottom: 6px;
    font-size: 80px;
    display: flex;
    gap: 10px;

}
.header-h1-color {
    color: rgb(189, 93, 56);
}
.header-email {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
}
.header-link {
    text-decoration: underline;
    color: rgb(189, 93, 56);
    
}
.header-text {
    font-family: "Mulish", sans-serif;
    margin-bottom: 50px;
    font-size: 20px;
}
.header-icon {
    display: flex;
    gap: 30px;
}
.header-icon i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px;
    background-color: #495057;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
    color: white;
}


